<h1>Listing messages</h1>

<table class="table">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Text</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.from %></td>
        <td><%= message.to %></td>
        <td><%= simple_format message.text %></td>
        <td><%= link_to 'Show', user_message_path(@user, message) %></td>
        <td><%= link_to 'Edit', edit_user_message_path(@user, message) %></td>
        <td><%= link_to 'Destroy', user_message_path(@user, message), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render 'form' %>