<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @feed.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @feed.detail %>
</p>

<p>
  <strong>Action:</strong>
  <%= @feed.action %>
</p>

<p>
  <strong>Type:</strong>
  <%= @feed.type %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
