<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<p>
  <strong>Score:</strong>
  <%= @comment.score %>
</p>

<p>
  <strong>Author:</strong>
  <%= @comment.author %>
</p>

<%= link_to 'Edit', edit_location_comment_path(@location, @comment) %> |
<%= link_to 'Back', location_comments_path(@location) %>
