<h1>Metrics</h1>

<table class="table metrics">
  <thead>
    <tr>
      <th>Action</th>
      <% @versions.each do |version| %>
        <th class="col-sm-2">
          <%= version.name %>
          <br/>
          <small><%= version.created_at.to_date %></small><br/>
          <small>
            <%= version.has_landing ? "impresions" : "users" %>:
            <%= version.number_of_users %>
            days online: <%= version.days_online %>
          </small>
        </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event_type| %>
      <tr>
        <td><%= event_type[:key] %></td>
        <% event_type[:values].each do |value| %>
          <td>
            <%= value[:accumulated].present? ? "#{value[:accumulated]}%" : "-" %>
            <% if value[:compared].present? %>
              <em>(-<%= number_to_percentage(value[:compared], precision: 0) %>)</em>
            <% end%>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<table class="table">
  <thead>
    <tr>
      <th>Number of Users </th>
      <th><%= @users_count %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Male</td>
      <td><%= @male_count * 100 / @users_count %>%</td>
    </tr>
    <tr>
      <td>Female</td>
      <td><%= @female_count * 100 / @users_count %>%</td>
    </tr>
  </tbody>
</table>

<br/>

<table class="table">
  <thead>
    <tr>
      <th>Popular locations </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.attendees.real.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>