<h1>Listing users</h1>

<%= form_tag(:users, method: :get, class: 'search-box') do %>
  <%= label_tag :version %>
  <%= select_tag :version_id, options_for_select(@versions.collect {|p| [ p.name, p.id ] }, params[:version_id]), :prompt => "All" %>
  <%= submit_tag "Export", class: 'btn btn-secondary pull-right' %>
  <%= submit_tag "Search", class: 'btn btn-primary pull-right' %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Username</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Social IDs</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag(user.picture.url(:thumb)) %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        <td><%= user.identities.map(&:provider).join(', ') %></td>
        <td><%= link_to 'Invite', invite_user_path(user), method: :post %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
