<h1>Listing versions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Release date</th>
      <th>Name</th>
      <th>Number of users</th>
      <th>Days online</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |version| %>
      <tr>
        <td><%= version.created_at %></td>
        <td><%= version.name %></td>
        <td><%= version.number_of_users %></td>
        <td><%= version.days_online %></td>
        <td><%= link_to 'Blog post', version.blog_url, target: '_blank' if version.blog_url.present? %></td>
        <td><%= link_to 'Show', version %></td>
        <td><%= link_to 'Edit', edit_version_path(version) %></td>
        <td><%= link_to 'Destroy', version, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Version', new_version_path %>
