<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@location.photo.url(:medium)) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @location.phone %>
</p>

<p>
  <strong>Score:</strong>
  <%= @location.score %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Show comments',  location_comments_path(@location) %> |
<%= link_to 'Back', locations_path %>
