<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@location.photo.url(:medium)) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Alternative name:</strong>
  <%= @location.alternative_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @location.phone %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format @location.description %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'See attendees', location_attendees_path(@location) %> |
<%= link_to 'Back', locations_path %>
